


<div class="wrapper">
    <!-- Sidebar Holder -->
    <nav id="sidebar">
        <div class="sidebar-header">
            <!--<img src="images/mu_logo_eng.png" style="width: 178px; height: 45px" />
            <h4>ระบบแบบฟอร์ม 2 ภาษา</h4>
            <h6>(Bilingual Form)</h6>-->
        </div>

        <ul class="list-unstyled components">

            <li>
                <a id="btn_balance"> </a>
                <a id="btn_balance"> </a>
            </li>

        </ul>

        <ul class="list-unstyled CTAs"></ul>
    </nav>

    <!-- Page Content Holder -->
    <div id="content">

        <nav class="navbar navbar-default">
            <div class="">


                <div class="col-md-4 col-sm-4 col-xs-12">
                    <button type="button" id="sidebarCollapse" class="btn btn-info navbar-btn">
                        <i class="fas fa-bars fa-2x"></i>
                    </button>
                </div>

                <div class="col-md-8 col-sm-8 col-xs-12">
                 
                </div>

            </div>
        </nav>

        <!--<ol class="breadcrumb">
            <li id="titleHeader" class="active">   </li>
        </ol>-->

        <ui-view></ui-view>

    </div>


</div>



